<div class="rightnavbarMaindiv" [style]="data">
    <ul class="rightnavbarList">
        <li><a href="/">HOME</a></li>
        <li><a href="/">CATEGORIES</a></li>
        <li><a href="/">POLITICS</a></li>
        <li><a href="/">BUSINESS</a></li>
        <li><a href="/">HEALTH</a></li>
        <li><a href="/">DESIGN</a></li>
        <li><a href="/">SPORT</a></li>
        <li><a href="/">CONTACT</a></li>
    </ul>
    <button class="closeButton" mat-mini-fab (click)="dataChanged.emit()">
        <mat-icon >clear</mat-icon>
      </button>

</div>