<app-header [categoryname]="categoryname" ></app-header>
<div class="containerDiv">

    <div class="contact">
        <h2>Evren TANIK</h2>
        <span>Gmail:evrentank@gmail.com</span>
        <span>GSM:evrentank@gmail.com</span>
        <span>Linkedin:  <a target="_blank" href="https://www.linkedin.com/in/evren-tanik-b134aa159/">https://www.linkedin.com/in/evren-tanik-b134aa159/</a></span>
        <span>Github:  <a target="_blank" href="https://github.com/EvrenTank">https://github.com/EvrenTank</a></span>

    </div>


</div>