<app-header [categoryname]="categoryname" ></app-header>
<div class="containerDiv">
    <div class="contact">
        <h2 style="color:rgb(100,100,255)">Kişisel Bilgiler</h2>
        <span><b>Name:</b> Evren TANIK</span>
        <span><mat-icon> email</mat-icon>: evrentank@gmail.com</span>
        <span><mat-icon> phone</mat-icon>: +90 543 640 7117</span>
        <span><img src="../assets/linkedin.png" />: <a target="_blank" href="https://www.linkedin.com/in/evren-tanik-b134aa159/"> https://www.linkedin.com/in/evren-tanik-b134aa159/</a></span>
        <span><img src="../assets/github.png" />:  <a target="_blank" href="https://github.com/EvrenTank"> https://github.com/EvrenTank</a></span>
    </div>
    <div class="experience">
        <h2 style="color:rgb(100,100,255)">İş Tecrübesi</h2>
        <span><b>Eylül 2021- (Devam ediyor)</b>     İzmir Yüksek Teknoloji Enstitüsü, Araştırma Görevlisi</span>
        <span><b>Haziran 2022 - Haziran 2023</b>     Recrigo, Junior Front-end Developer(Yarı zamanlı)</span>
        <span><b>Ekim 2021- (Devam ediyor)</b>     NjoyKidz, Junior Front-end Developer(Yarı zamanlı)</span>
    </div>
     <div class="projects">

        <h2 style="color:rgb(100,100,255)">Çalışmalarım</h2>
        <div class="proje">
            <div class="subDiv1">
                <iframe style="width:100%;height:100%" src="https://manga-read-website.vercel.app/" ></iframe>
            </div>
            <div class="subDiv2">
                <span><b>Proje Adı:</b> Manga Okuma Sitesi</span>
                <span><b>Proje Tanımı:</b><p>Serimanga.com isimli bir manga sitesinin tasarımı
                    temel alınarak oluşturulan bir manga okuma sitesi.
                </p> </span>
                <span><b>Kullanılan Teknolojiler:</b><p>
                    NextJs, ReactJs, Typescript, Javascript, TailwindCSS, NodeJs, ExpressJs, REST APIs, JQuery
                </p></span> 
                <span>Yeni sekmede görüntülemek için <a href="https://manga-read-website.vercel.app/" target="_blank">tıklayınız</a> </span>   
            </div>
        </div>
        <div class="proje">
            <div class="subDiv1" style="overflow: scroll;">
                <iframe style="width:100%;height:100%;overflow: scroll;" src="https://traveltofuture.vercel.app/" ></iframe>
            </div>
            <div class="subDiv2">
                <span><b>Proje Adı:</b> Uçak Bileti Satın Alma Sitesi</span>
                <span><b>Proje Tanımı:</b><p> Uçak bileti satın almak için kullanılabilecek basit seviyede bir websitesi.
                </p> </span>
                <span><b>Kullanılan Teknolojiler:</b><p>
                    NextJs, ReactJs, Javascript, SCSS , NodeJs, REST APIs, Redux, MaterialUI, LottieFiles 
                </p></span>  
                <span>Yeni sekmede görüntülemek için <a href="https://traveltofuture.vercel.app/" target="_blank">tıklayınız</a></span>  
            </div>
        </div>
        <div class="proje">
            <div class="subDiv1">
                <div class="subDiv11">
                    <img src="../assets/ekranalintisi.PNG" />
                </div>
                <div class="subDiv11">
                    <img src="../assets/ekranalintisi2.PNG" />
                </div>
            </div>
            <div class="subDiv2">
                <span><b>Proje Adı:</b> Recrigo</span>
                <span><b>Proje Tanımı:</b><p>Recrigo isimli bir proje kapsamında kullanılması planlanan iki farklı formun tasarlanması.
                </p> </span>
                <span><b>Kullanılan Teknolojiler:</b><p>
                    NextJs, ReactJs, Typescript, SCSS , MaterialUI, LottieFiles, FramerMotion 
                </p></span>  
                <span>Yeni sekmede görüntülemek için <a href="https://form-design-one.vercel.app/" target="_blank">tıklayınız</a></span>  
                <span><b>NOT:</b> Live Demo'da yaşanılan bir sorun nedeniyle style özellikleri ekran görüntüsündekinden farklı görünmektedir.
                 Lokalde çalıştırılarak asıl tasarım incelenebilir.
                </span>  
            </div>
        </div>

     </div>

</div>