.containerDiv {
    width:60%;
    margin-left: 20%;
}
@media screen and (max-width:1500px) {
    .containerDiv {
        width: 76%;
        margin-left:12%;
    }
    
}
@media screen and (max-width:1200px) {
    .containerDiv {
        width: 90%;
        margin-left:5%;
    }
    
}
.containerDiv .myList{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    padding: 0;

}
.containerDiv .myList .listElements{
    list-style-type: none;
    margin-left: 0;
}

.content{
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: row;
    border:2px solid olivedrab;
}
.content .author{
    width: 40%;
    height:100%;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: flex-start;
}
.content .author span {
    letter-spacing: 2px;
    font-size: medium;
    font-weight: 700;
    color:black;
}
.content .details{
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}
.content .details .contentTitle{
   height:50%;
   text-overflow: ellipsis;
   overflow: hidden;
}
.content .details p{
    text-wrap: wrap;
    text-overflow:ellipsis;
}
.pageNumberSelector{
    padding: 0;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.pageNumberSelector .pageNumbers {

    list-style-type: none;
  }
.pageNumberSelector .pageNumbers span {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgba(150,150,150,0.3);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
.pageNumberSelector .pageNumbers span:hover {
    background-color: rgba(150,150,150,0.5);

  }